.sendForm {
    display: flex;
    justify-content: inherit;
}

textarea {
height: 40px;
}

.textarea {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 70px;
    width: 976px;
    height: 40px;
    left: 70px;
    top: 408px;
    font-size: 14px;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    border: none;
}

.textarea::-webkit-input-placeholder{
    margin: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44px;
    width: 120px;
    height: 40px;
    left: 1090px;
    top: 408px;
    background: #0066CC;
    border-radius: 20px;
    border: none;
}

.textButton {
    width: 43px;
    height: 20px;
    left: 1128px;
    top: 418px;
    color: #FFFFFF;
}

.button:hover {

}
.button:active {

}
